.profile {
  display: flex;
  margin-top: 90px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form label input {
  margin-right: 33px;
  margin-bottom: 16px;
}
.form label span {
  display: block;
  color: var(--color-orange);
  font-weight: bold;
  margin-bottom: 5px;
}
.profile_picture {
  margin-right: 9%;
}
/* .profile_picture .profile_button {
  width: 173.79px;
  height: 32px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--color-gray);
} */
.avatar-btn::-webkit-file-upload-button {
  visibility: hidden;
  
}

.avatar-btn::before {
  content: 'change avatar';
}

.avatar-btn {
  top: 489px;
  left: 336px;
  width: 174px;
  height: 32px;
  border: 1px solid #A5A5A5;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/19px Roboto;
  letter-spacing: 0px;
  color: #A5A5A5;
  text-transform: uppercase;
  margin-top:30px;
  padding: 4px 28px;
  border-radius: 5px;
}

.profile_picture .picture img {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  margin-bottom: 35px;
}

.profile_picture .picture {
  display: flex;
  justify-content: center;
}

.page_title .profile_line {
  width: 1059px;
  margin-left: auto;
  margin-top: auto;
}

.page_title .page_title_profile h2 {
  color: #96bb36;
  opacity: 1;
  font-size: 35px;
}
